In [1]:
import pandas as pd

In [2]:
loans_df = pd.read_csv('loans_dataset.csv')
loans_df.head(3)

,LoanID,Org Name,Org ID,OrgID & LoanID,Principal (€),Interest p.m.,Payout Date,Maturity Date,Status,Repaid Date,Outstanding Notional,Days Late,Months Repaid,Unnamed: 13,Unnamed: 14,RandInt
0,1.0,DriveTech GmbH,1026.0,1026-1,"13,778.00",1.25%,10-Nov-2019,4-Nov-2020,Repaid,14-Feb-2020,0,-264.0,3.20,NaN,NaN,223472.0
1,2.0,Elixir GmbH,1027.0,1027-2,"43,051.00",1.40%,11-Nov-2019,5-Nov-2020,Repaid,03-Nov-2020,0,-2.0,11.93,NaN,NaN,167711.0
2,3.0,FlashForward GmbH,1028.0,1028-3,"13,896.00",1.25%,12-Nov-2019,6-Nov-2020,Repaid,03-Nov-2020,0,-3.0,11.90,NaN,NaN,111043.0

In [3]:
# I will drop some columns that are note needed to keep the dataset cleaned
loans_df = loans_df.drop(columns = ['LoanID','Unnamed: 13', 'Unnamed: 14','RandInt'])
loans_df.drop(loans_df.index[-1], inplace=True)

In [4]:
loans_df.dtypes

Org Name                 object
Org ID                  float64
OrgID & LoanID           object
Principal (€)            object
Interest p.m.            object
Payout Date              object
Maturity Date            object
Status                   object
Repaid Date              object
Outstanding Notional     object
Days Late               float64
Months Repaid           float64
dtype: object

In [5]:
# Some values are recongized as obejcts instead of floats, so I will conver them now
loans_df['Principal (€)'] = loans_df['Principal (€)'].str.replace(',', '').astype(float)
loans_df['Outstanding Notional'] = loans_df['Outstanding Notional'].str.replace(',', '').astype(float)

In [7]:
loans_df.head()

,Org Name,Org ID,OrgID & LoanID,Principal (€),Interest p.m.,Payout Date,Maturity Date,Status,Repaid Date,Outstanding Notional,Days Late,Months Repaid
0,DriveTech GmbH,1026.0,1026-1,13778.0,1.25%,10-Nov-2019,4-Nov-2020,Repaid,14-Feb-2020,0.0,-264.0,3.20
1,Elixir GmbH,1027.0,1027-2,43051.0,1.40%,11-Nov-2019,5-Nov-2020,Repaid,03-Nov-2020,0.0,-2.0,11.93
2,FlashForward GmbH,1028.0,1028-3,13896.0,1.25%,12-Nov-2019,6-Nov-2020,Repaid,03-Nov-2020,0.0,-3.0,11.90
3,GlobalLink GmbH,1029.0,1029-4,21926.0,1.25%,13-Nov-2019,7-Nov-2020,Repaid,01-Nov-2020,0.0,-6.0,11.80
4,KryptonGmbH,1064.0,1064-5,24195.0,1.25%,10-Nov-2019,4-Nov-2020,Repaid,6-Nov-2020,0.0,2.0,12.07

In [12]:
# Some exploratory analysis to check how the dataset is formed

number_of_loans = len(loans_df)
unique_customers = len(loans_df['Org ID'].unique())
min_principal = loans_df['Principal (€)'].min()
max_principal = loans_df['Principal (€)'].max()

print(f'The dataset contains {number_of_loans} loans. The loans have been financed across {unique_customers} unique lenders/customers.  \nThe lowest financing amount is {min_principal}€, while the highest is {max_principal}€.')

The dataset contains 300 loans. The loans have been financed across 174 unique lenders/customers.
The lowest financing amount is 10311.0€, while the highest is 529053.0€.